<div class="cover">Log in to a profile to access options.</div>
<main>
    <section id="wordListSection">
        <editable-table ng-if="ctrl.wordList.length > 0" id="wordTable"
            dataset="ctrl.wordList"
            columns="ctrl.wordListColumns"
            primary-key="'word'"
            paging="true"
            click-row-callback="ctrl.onClickWord"
            delete-row-callback="ctrl.onDeleteWord"
            strings="ctrl.strings">
        </editable-table>
        <div id="noWordsNotice" ng-if="ctrl.wordList.length === 0">
            <span>{{ctrl.strings.NO_WORDS}}</span>
        </div>
    </section>
    <section id="controls">
        <a id="downloadLink" href="" download="{{ctrl.fileName}}">Download word list</a>
        <button id="importButton" ng-click="ctrl.requestImportFile()">Import from file</button>
        <button id="clearButton" ng-click="ctrl.clearData()">Clear Data</button>
    </section>
</main>