<div class="cover"><span>Log in to a profile to access options.</span></div>
<main>
    <h1>{{ctrl.strings.SMART_MATCHING}}</h1>
    <div class="optionsBlock">
        <label for="rootLength">{{ctrl.strings.MINIMUM_LENGTH_OF_ROOT}} </label>
        <input id="rootLength" name="rootLength" type="number" min="1" ng-model="ctrl.options.minPrefixLength" />
    </div>
    <div class="optionsBlock" ng-if="ctrl.blacklistedPrefixes.length > 0">
        <label>{{ctrl.strings.BLACKLISTED_PREFIXES}}</label>
        <editable-table id="blacklistedPrefixes" style="width: 200px; display: block;"
            dataset="ctrl.blacklistedPrefixes"
            columns="ctrl.prefixColumns"
            primary-key="'prefix'"
            paging="false"
            delete-row-callback="ctrl.onDeletePrefix">
        </editable-table>
    </div>
    <p class="noAffixesNotice" ng-if="ctrl.blacklistedPrefixes.length == 0">
        {{ctrl.strings.ADD_PREFIXES}}
    </p>
    <div class="optionsBlock">
        <label for="addPrefixInput">{{ctrl.strings.BLACKLIST_PROMPT}}</label>
        <input id="addPrefixInput" name="addPrefixInput" type="text" ng-model="ctrl.prefixInput" ng-keyup="$event.keyCode == 13 && ctrl.addPrefix()" />
        <button id="addPrefixButton" ng-click="ctrl.addPrefix()">{{ctrl.strings.ADD_BUTTON}}</button>
    </div>
    <div class="optionsBlock">
        <label for="suffixLength">{{ctrl.strings.MAXIMUM_LENGTH_OF_SUFFIX}} </label>
        <input id="suffixLength" name="suffixLength" type="number" min="1" ng-model="ctrl.options.maxSuffixLength" />
    </div>
    <div class="optionsBlock" ng-if="ctrl.whitelistedSuffixes.length > 0">
        <label>{{ctrl.strings.WHITELISTED_SUFFIXES}}</label>
        <editable-table id="whiteslitedSuffixes" style="width: 200px; display: block;"
            dataset="ctrl.whitelistedSuffixes"
            columns="ctrl.suffixColumns"
            primary-key="'suffix'"
            paging="false"
            delete-row-callback="ctrl.onDeleteSuffix">
        </editable-table>
    </div>
    <p class="noAffixesNotice" ng-if="ctrl.whitelistedSuffixes.length == 0">
        {{ctrl.strings.ADD_SUFFIXES}}
    </p>
    <div class="optionsBlock">
        <label for="addSuffixInput">{{ctrl.strings.WHITELIST_PROMPT}}</label>
        <input id="addSuffixInput" name="addSuffixInput" type="text" ng-model="ctrl.suffixInput" ng-keyup="$event.keyCode == 13 && ctrl.addSuffix()"/>
        <button id="addSuffixButton" ng-click="ctrl.addSuffix()">{{ctrl.strings.ADD_BUTTON}}</button>
    </div>
    <div class="optionsBlock">
        <strong><label for="useInflection">{{ctrl.strings.USE_SMART_MATCHING}}</label></strong>
        <input id="useInflection" name="useInflection" type="checkbox" ng-model="ctrl.options.useInflection" />
    </div>

    <h1>{{ctrl.strings.LOOKUP_HEADER}}</h1>
    <div class="optionsBlock">
        <p>{{ctrl.strings.LOOKUP_DESCRIPTION}}</p>
        <label for="urlInput">{{ctrl.strings.LOOKUP_URL}}</label>
        <input id="urlInput" name="urlInput" type="text" ng-model="ctrl.options.lookupURL" />
    </div>

    <h1>{{ctrl.strings.COLORS}}</h1>
    <div class="optionsBlock colors">
        <div class="optionsBlock">
            <label for="undefinedColorInput">{{ctrl.strings.UNDEFINED_WORDS}}</label>
            <input id="undefinedColorInput" name="undefinedColorInput" type="color" ng-model="ctrl.options.notDefinedColor" />
            <br />
            <label for="undefinedOpacityInput">{{ctrl.strings.OPACITY}}</label>
            <input id="undefinedOpacityInput" name="undefinedOpacityInput" type="range" min="0" max="100" ng-model="ctrl.options.notDefinedOpacity" />
        </div>

        <div class="optionsBlock">
            <label for="definedColorInput">{{ctrl.strings.DEFINED_WORDS}}</label>
            <input id="definedColorInput" name="definedColorInput" type="color" ng-model="ctrl.options.definedColor" />
            <br />
            <label for="definedOpacityInput">{{ctrl.strings.OPACITY}}</label>
            <input id="definedOpacityInput" name="definedOpacityInput" type="range" min="0" max="100" ng-model="ctrl.options.definedOpacity" />
        </div>

        <div class="optionsBlock">
            <label for="similarColorInput">{{ctrl.strings.SMART_MATCHED_WORDS}}</label>
            <input id="similarColorInput" name="similarColorInput" type="color" ng-model="ctrl.options.similarColor" />
            <br />
            <label for="similarOpacityInput">{{ctrl.strings.OPACITY}}</label>
            <input id="similarOpacityInput" name="similarOpacityInput" type="range" min="0" max="100" ng-model="ctrl.options.similarOpacity" />
        </div>
    </div>
    <div class="optionsBlock">
        <button id="resetColorButton" ng-click="ctrl.resetColorsToDefault()">{{ctrl.strings.RESET_COLORS}}</button>
    </div>

    <h1>{{ctrl.strings.EXTENDED_ALPHABET_HEADER}}</h1>
    <div class="optionsBlock">
        <p>{{ctrl.strings.EXTENDED_ALPHABET_DESCRIPTION}}</p>
        <label for="separatorsInput">{{ctrl.strings.EXTENDED_ALPHABET_PROMPT}}</label>
        <input type="text" id="separatorsInput" style="font-family: monospace" name="separatorsInput" ng-model="ctrl.options.separatorCharacters" />
    </div>
</main>