span[wordology_word]
{
	display: inline-block;
	padding: 0px;
	border-radius: 0px;
	position: relative;
	text-indent: initial;
}
span[wordology_word="hidden"]
{
	background-color: transparent;
}
span[wordology_word="not_defined"]
{
	--default-color: rgba(255, 100, 100, 0.35);
	background-color: var(--wordology-not-defined-color, var(--default-color));
}
span[wordology_word="defined"]
{
	--default-color: rgba(100, 255, 50, 0.35);
	background-color: var(--wordology-defined-color, var(--default-color));
}
span[wordology_word="similar"]
{
	--default-color: rgba(100, 150, 255, 0.35);
	background-color: var(--wordology-similar-color, var(--default-color));
}

span.wordology-popup
{
	position: absolute;
	z-index: 999999999;
}

span.wordology-popup span.wordology-popup-bubble
{
	background-color: hsla(0, 0%, 20%, 1.0);
	color: white;
	padding: 7px;
	font-size: 12pt;
	min-height: 0px;
	font-family: sans-serif;
	font-weight: normal;
	font-style: normal;
	text-transform: none;
	white-space : normal;
	top : 0px;
	left : 0px;
	line-height: 1.0em;
	height: auto;
	display: block;
	max-width: 400px;
	width: max-content;
	text-align: justify;
}

span.wordology-popup span.wordology-popup-tail
{
	width: 0px;
	display: block;
}

.wordology-popup-tail.bottom {
	width: 0px;
	border-top: 5px solid hsla(0, 0%, 20%, 1.0);
	border-right: 5px solid transparent;
	border-left: 5px solid transparent;
	margin-left: auto;
	margin-right: auto;
}

.wordology-popup-tail.top {
	width: 0px;
	border-bottom: 5px solid hsla(0, 0%, 20%, 1.0);
	border-right: 5px solid transparent;
	border-left: 5px solid transparent;
	margin-left: auto;
	margin-right: auto;
}

.wordology-popup-tail.top-left {
	width: 0px;
	border-bottom: 5px solid hsla(0, 0%, 20%, 1.0);
	border-right: 5px solid transparent;
	margin-left: 0px;
	margin-right: auto;
}

.wordology-popup-tail.top-right {
	width: 0px;
	border-bottom: 5px solid hsla(0, 0%, 20%, 1.0);
	border-left: 5px solid transparent;
	margin-left: auto;
	margin-right: 0px;
}

.wordology-popup-tail.bottom-left {
	width: 0px;
	border-top: 5px solid hsla(0, 0%, 20%, 1.0);
	border-right: 5px solid transparent;
	margin-left: 0px;
	margin-right: auto;
}

.wordology-popup-tail.bottom-right {
	width: 0px;
	border-top: 5px solid hsla(0, 0%, 20%, 1.0);
	border-left: 5px solid transparent;
	margin-left: auto;
	margin-right: 0px;
}